anyio==4.14.1
attrs==26.1.0
certifi==2026.6.17
chardet==7.4.3
charset-normalizer==3.4.7
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
jep==4.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==5.4.0
metadig @ git+https://github.com/UCSB-Library-Research-Data-Services/metadig-py@f2c282b6ab5373935203f2db38ee40aa8a50dafc
numpy==2.5.0
pandas==2.3.3
pathlib==1.0.1
pyDataverse==0.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.5.1
six==1.17.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
