fastapi[standard]==0.141.1
httpx==0.28.1
Jinja2==3.1.6
pydantic==2.13.4
python-dotenv==1.2.2
dataverse-datacite-translator @ git+https://github.com/UCSB-Library-Research-Data-Services/dataverse-datacite-translator.git
